<div class="bar text-center container" th:fragment="bar">
	<div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">Biblioteka</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContentAdmin">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
						<a class="nav-link" href="/dodajksiazkaform">Dodaj ksiązkę</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/listaksiazek">Lista książek</a>
					</li>
					<li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
						<a class="nav-link" href="/dodajkategorieform">Dodaj kategorię</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/listakategorii">Lista kategorii</a>
					</li>
					<li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
						<a class="nav-link" href="/dodajuzytkownikaform">Dodaj użytkownika</a>
					</li>
					<li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
						<a class="nav-link" href="/listauzytkownikow">Lista użytkowników</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/wyloguj">Wyloguj</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
