<div class="bar text-center" th:fragment="bar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bookshelf</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lista">Lista</a>
            </li>
			<li class="nav-item active">
				<a class="nav-link" href="/dodaj">Dodaj</a>
			</li>
        </ul>
    </div>
</nav>
</div>
