<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<h1>Dodaj rolę do użytkownika:</h1>
	<form action="#" th:action="@{/dodajroledouzytkownikapotwierdz/{id}(id=${uzytkownik.userId})}" method="get">
		<div class="form-group">
			<select class="form-control" name="rola">
				<option value="1">ADMIN</option>
				<option value="2">BIBLIO</option>
				<option value="3">USER</option>
			</select>
		</div>
		<p><input type="submit" class="btn btn-primary" value="Dodaj"/> <input type="reset" class="btn btn-primary"
																			   value="Wyczyść"/></p>
	</form>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>