<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<h1>Dodaj kategorię:</h1>
	<form action="#" th:action="@{/dodajkategoriedoksiazkipotwierdz/{id}(id=${ksiazka.bookId})}" method="get">
		<div class="form-group">
			<select class="form-control" name="kategoria">
				<option th:each="k : ${kategoria}"
						th:value="${k.category_id}"
						th:text="${k.name}">Course
				</option>
			</select>
		</div>
		<p><input type="submit" class="btn btn-primary" value="Dodaj"/> <input type="reset" class="btn btn-primary"
																			   value="Wyczyść"/></p>
	</form>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>