<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">

	<h1>Dodaj książkę:</h1>
	<form action="#" th:action="@{/potwierdz}" th:object="${book}" method="post">
		<div class="form-group">
			<p>Imię autora: <input type="text" class="form-control" th:field="*{bookAutorImie}"/></p>
			<p>Nazwisko autora: <input type="text" class="form-control" th:field="*{bookAutorNazwisko}"/></p>
			<p>Tytuł książki: <input type="text" class="form-control" th:field="*{bookTytul}"/></p>
			<p>Wydawnictwo: <input type="text" class="form-control" th:field="*{bookWydawnictwo}"/></p>
			<p>Rok wydania: <input type="text" class="form-control" th:field="*{bookRokWydania}"/></p>
			<p><input type="submit" class="btn btn-primary" value="Dodaj"/> <input type="reset" class="btn btn-primary" value="Wyczyść"/></p>
		</div>
	</form>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>