<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<h1>Lista kategorii:</h1>
	<table class="table table-hover">
		<tr>
			<td>Id</td>
			<td>Nazwa kategorii</td>
			<!--<td>Enabled</td>-->
			<td>Opcje</td>
		</tr>
		<tr th:each="l : ${listakat}" th:if="${l.enabled==1}">
			<td th:text="${l.category_id}"></td>
			<td th:text="${l.name}"></td>
			<!--<td th:text="${l.enabled}"></td>-->
			<td>
				<a class="btn btn-danger" th:href="@{/kategoriadezaktywuj/{id}(id=${l.category_id})}" role="button">Dezaktywuj kategorię</a>
			</td>
		</tr>
	</table>
	<p th:text="${'Liczba wszystkich kategorii w bazie: '+ liczbakat}"></p>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>