<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>

<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<h1>Lista książek:</h1>

	<table class="table table-hover">
		<tr>
			<td>Id</td>
			<td>Imię autora</td>
			<td>Nazwisko autora</td>
			<td>Tytuł książki</td>
			<td>Wydawnictwo</td>
			<td>Rok wydania</td>
			<td>Kategoria</td>
			<td sec:authorize="hasAnyAuthority('USER')">Akcja</td>
			<td sec:authorize="hasAnyAuthority('BIBLIO','ADMIN')">Opcje</td>
		</tr>
		<tr th:each="l : ${lista}" th:if="${l.enabled==1 and l.status==1}">
			<td th:text="${l.bookId}"></td>
			<td th:text="${l.bookAutorImie}"></td>
			<td th:text="${l.bookAutorNazwisko}"></td>
			<td th:text="${l.bookTytul}"></td>
			<td th:text="${l.bookWydawnictwo}"></td>
			<td th:text="${l.bookRokWydania}"></td>
			<td>
				<span th:each="kategoria,powt : ${l.categories}">
					<span th:if="${kategoria.name}">
					<th:block th:if="${!powt.last}">,</th:block>
					</span>
				</span>
			</td>
			<td sec:authorize="hasAnyAuthority('USER')">
				<a class="btn btn-primary" th:href="@{/wypozycz/{id}(id=${l.bookId})}"  role="button">Wypozycz</a>
			</td>
			<td sec:authorize="hasAnyAuthority('BIBLIO','ADMIN')">
				<a class="btn btn-primary" th:href="@{/ksiazkadetal/{id}(id=${l.bookId})}" role="button">Zmień kategorię</a>
				<a class="btn btn-danger" th:href="@{/ksiazkadezaktywuj/{id}(id=${l.bookId})}" role="button">Dezaktywuj</a>
			</td>
		</tr>
	</table>
	<p th:text="${'Liczba aktywnych książek w bazie: ' + aktywne + ', wszystkich:' + liczbaksiazek}"> </p>

</div>
<div lang="en" th:replace="frag/footer :: footer"></div>

</body>
</html>