<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<h1>Lista użytkowników:</h1>
	<table class="table table-hover">
		<tr>
			<td>Id</td>
			<td>Nazwa użytkownika</td>
			<td>Rola użytkownika</td>
			<td>Hasło użytkownika</td>
			<td>Dodaj/zmień rolę</td>
			<td>Usuń użytkownika</td>
		</tr>
		<tr th:each="lista : ${listau}" th:if="${lista.enabled==1}">
			<td th:text="${lista.userId}"></td>
			<td th:text="${lista.userName}"></td>
			<td th:text="${lista.userRole}"></td>
			<td th:text="${lista.userPassword}"></td>
			<!--<td th:text="${lista.enabled}"></td>-->
			<td><a class="btn btn-primary" th:href="@{/uzytkownikdetal/{id}(id=${lista.userId})}" role="button">Dodaj/zmień rolę</a></td>
			<td><a class="btn btn-danger" th:href="@{/uzytkownikdezaktywuj/{id}(id=${lista.userId})}" role="button">Dezaktywuj użytkownika</a></td>
		</tr>
	</table>
	<p th:text="${'Liczba aktywnych użytkowników w bazie: ' + aktywne + ', wszystkich:' + liczbauzytkownikow}"> </p>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>