<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<td>Id</td>
			<td>Nazwa kategorii</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="count : ${listakat}">
			<td th:text="${count.category_id}"></td>
			<td th:text="${count.name}"></td>
		</tr>
		</tbody>
	</table>
	<p th:text="${'Liczba wszystkich kategorii w bazie: '+ liczbakat}"></p>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>