<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>

<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<td>Id</td>
			<td>Imię autora</td>
			<td>Nazwisko autora</td>
			<td>Tytuł książki</td>
			<td>Wydawnictwo</td>
			<td>Rok wydania</td>
			<td>Kategorie</td>
			<td>Dodatkowe informacje</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="count : ${lista}">
			<td th:text="${count.bookId}"></td>
			<td th:text="${count.bookAutorImie}"></td>
			<td th:text="${count.bookAutorNazwisko}"></td>
			<td th:text="${count.bookTytul}"></td>
			<td th:text="${count.bookWydawnictwo}"></td>
			<td th:text="${count.bookRokWydania}"></td>
			<td>
				<span th:each="kategoria,powt : ${count.categories}">
					<span th:text="${kategoria.name}"/><th:block th:if="${!powt.last}">,</th:block>
				</span>
			</td>
			<td><a class="btn btn-primary" th:href="@{/ksiazkadetal/{id}(id=${count.bookId})}" role="button">Info</a></td>
		</tr>
		</tbody>
	</table>
	<p th:text="${'Liczba wszystkich książek w bazie: ' + liczba}"></p>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>

</body>
</html>