<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<!--<div th:replace="frag/bar :: bar"></div>-->
<div class="container">

<p>nono login firm</p>
	<!--<div class="text-center" style="padding:50px 0">-->
		<!--<div class="logo">login</div>-->
		<!--&lt;!&ndash; Main Form &ndash;&gt;-->
		<!--<div class="login-form-1">-->
			<!--<form id="login-form" class="text-left">-->
				<!--<div class="login-form-main-message"></div>-->
				<!--<div class="main-login-form">-->
					<!--<div class="login-group">-->
						<!--<div class="form-group">-->
							<!--<label for="lg_username" class="sr-only">Username</label>-->
							<!--<input type="text" class="form-control" id="lg_username" name="lg_username"-->
								   <!--placeholder="username"/>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label for="lg_password" class="sr-only">Password</label>-->
							<!--<input type="password" class="form-control" id="lg_password" name="lg_password"-->
								   <!--placeholder="password"/>-->
						<!--</div>-->
						<!--<div class="form-group login-group-checkbox">-->
							<!--<input type="checkbox" id="lg_remember" name="lg_remember"/>-->
							<!--<label for="lg_remember">remember</label>-->
						<!--</div>-->
					<!--</div>-->
					<!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
				<!--</div>-->
				<!--<div class="etc-login-form">-->
					<!--<p>forgot your password? <a href="#">click here</a></p>-->
					<!--<p>new user? <a href="#">create new account</a></p>-->
				<!--</div>-->
			<!--</form>-->
		<!--</div>-->
		<!--&lt;!&ndash; end:Main Form &ndash;&gt;-->
	<!--</div>-->


</div>


</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>