<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
	<title>Library application</title>
</head>
<body>
<div class="container">
	<h1>Logowanie do biblioteki:</h1>
	<p>&nbsp;</p>
	<form name="f" th:action="@{/login}" method="post">
		<div th:if="${param.error}" class="form-group">
			Błędny login użytkownika lub hasło.
		</div>
		<div th:if="${param.logout}" class="form-group">
			Zostałeś wylogowany.
		</div>
		<p><label for="user_name">Nazwa użytkownika:</label><br/>
			<input type="text" id="user_name" name="user_name"/></p>
		<p><label for="user_password">Hasło:</label><br/>
			<input type="password" id="user_password" name="user_password"/></p>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Zaloguj</button>
		</div>
	</form>
</div>
<div class="footer text-center" th:fragment="footer">
	Biblioteka by thornhell 2018
</div>
</body>
</html>