<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="frag/header :: header"></head>
<body>
<div th:replace="frag/bar :: bar"></div>
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<td>Id</td>
			<td>Nazwa użytkownika</td>
			<td>Rola użytkownika</td>
			<td>Hasło użytkownika</td>
			<td>Enabled</td>
			<td>Dodaj rolę</td>

		</tr>
		</thead>
		<tbody>
		<tr th:each="u : ${uzytkownik}">
			<td th:text="${u.userId}"></td>
			<td th:text="${u.userName}"></td>
			<td th:text="${u.userRole}"></td>
			<td th:text="${u.userPassword}"></td>
			<td th:text="${u.enabled}"></td>
			<td><a class="btn btn-primary" th:href="@{/dodajroledouzytkownika/{id}(id=${u.userId})}" role="button">Dodaj rolę</a></td>
		</tr>
		</tbody>
	</table>
	<p th:text="${'Liczba wszystkich książek w bazie: ' + liczba}"></p>
</div>
<div lang="en" th:replace="frag/footer :: footer"></div>
</body>
</html>